*{
  font-family: calibri, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

body{
  font-family: calibri, sans-serif;
  font-weight: 400;
  // 300,400,700
}

.wrapper--flex{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &--start{
    justify-content: flex-start;
  }
  &--bottom{
    align-items: flex-end;
  }
  &--center{
    align-items: center;
  }
}

.stateGlobal{
  position: absolute;
  top:1vw;
  left:1vw;
  background-color: pink;
  padding:10px;
}

