*{
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.wrapper--flex{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &--start{
    justify-content: flex-start;
  }
  &--bottom{
    align-items: flex-end;
  }
}

.stateGlobal{
  position: absolute;
  top:1vw;
  left:1vw;
  background-color: pink;
  padding:10px;
}

