.button{
  display: block;
  outline: 0;
  //border: solid 1px #efefef;
  font-size: 12px;
  border-radius: 10px;
  text-transform: uppercase;
  &:focus {outline:0;}
}
button{
  &:focus {outline:0;}
}

.button--primary{
  border:none;
  display: inline-block;
  //background-color: #fff;
  padding:10px 40px;
  //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: #E6625E;
  //margin-top: 20px;
  text-decoration: none;
  color:#fff;
  font-size: 20px;
  cursor: pointer;
}

.button--underlined{
  outline: none;
  text-decoration: underline;
  text-transform: none;
  border: none;
  padding: 0;
  margin-top: 15px;
}

.button--close{
  position: absolute;
  top:20px;
  right:20px;
}