.button{
  display: block;
  outline: 0;
  //border: solid 1px #efefef;
  font-size: 12px;
  border-radius: 10px;
  text-transform: uppercase;
  &:focus {outline:0;}
}
button,input{
  &:focus {outline:0;}
}

.button--back{
  width:30px;
  cursor: pointer;
  border:none;
  height:35px;
  margin-right: 5px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  background-image: url(../../img/back.png);
}


.button--primary{
  border:none;
  display: inline-block;
  //background-color: #fff;
  padding:10px 40px;
  //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 200px;
  background-color: $primary;
  //margin-top: 20px;
  text-decoration: none;
  color:#fff;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.14);
}

.button--underlined{
  outline: none;
  text-decoration: underline;
  text-transform: none;
  border: none;
  padding: 0;
  margin-top: 15px;
}

.button--close{
  position: absolute;
  top:20px;
  right:20px;
}

.button--toggelPrix{
  margin-top: 10px;
  display: flex;
  align-items: center;
  label{
    font-size: 15px;
    text-transform: uppercase;
    margin-right: 10px;
    color:$darkgrey;
  }
  .button{
    //border-radius:0px !important;
    padding:5px 10px;
    background-color:#fff !important;
    color:$lightgrey;
    &--active{
      color:$primary;
    }
    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}