
@mixin max-xs {
  @media (max-width: 767px) {
    @content;
  }
}

.wrapper{
  display: flex;
  height:100vh;
  overflow: hidden;
  &__sidebar{
    width:40%;
    @include max-xs {
      width:100%;
    }
    background-color: #fff;
    height: 100vh;
    overflow: scroll;
  }
  &__map{
    width:60%;
    background-color:#efefef;
    height: 100vh;
    position: absolute;
    right:0;
  }
}
