<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Hello Parking{% endblock %}</title>

        {% block meta %}
            <meta name="google-signin-client_id" content="test">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <script src="https://apis.google.com/js/api.js"></script>
            <script src="https://apis.google.com/js/client:platform.js?onload=renderButton" async defer></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {% endblock %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="icon" href="favicon.ico" type="image/x-icon">
            <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
            <link rel="stylesheet" href="https://use.typekit.net/bqz8pzn.css">
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
            integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
            crossorigin=""/>
        {% endblock %}
        
    </head>
    <body>
        {% block body %}

        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
             <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
        {% endblock %}
    </body>
</html>
