svg{
  width:100%;
  height:auto;
  user-select:none;
  pointer-events: none;

  .linie{
    fill:none;
    stroke-width:6px;
    stroke-miterlimit:10;
    stroke:#1d1d1b}
  
  .siteOlympique{
    position: relative;
    animation:siteAnimation 0.5s infinite alternate;
    @keyframes siteAnimation{
      0%{fill:#fff;;}
      100%{fill:black;}
    }
  }
  .hoverLine{
    stroke:#fff;
  }
  .selectedSite{
    fill:#fff;
  }

}

circle{
  fill:#fff;
  stroke:#1d1d1b;
  stroke-width:2px;
  transition:all 0.1s;
  pointer-events: auto !important;
  transform-origin:center;
  cursor: pointer;
  @keyframes blink {
    0%{opacity:0}    
    100%{opacity:1 }    
  }
  // animation:blink 1s infinite alternate ;
}

.circle__background{
  width:30px;
  height:30px;
  border: solid 1px #000;
  position: absolute;
  border-radius: 50%;
  transform-origin: center;
  // @keyframes blink {
  //   0%{transform: scale(1);}    
  //   100%{transform: scale(2)}    
  // }
  // animation:blink 1s infinite alternate ;
  transform:translateY(-50%) translateX(-50%);
  // &::before{
  //   content:"";
  //   width:20px;
  //   height:20px;
  //   top:2.5px;
  //   left:2.5px;
  //   border: solid 1px #000;
  //   position: absolute;
  //   border-radius: 50%;
  //   transform-origin: center;
  //   // @keyframes blink {
  //   //   0%{transform: scale(1);}    
  //   //   100%{transform: scale(0.8)}    
  //   // }
  //   // animation:blink 1s infinite alternate ;
  // }
  &:nth-child(4n) {
    //background-color: red !important;
    animation-delay:0.25s;
  }
  
}

.map{
  overflow: scroll;
  position: relative;
  
  .box--carte{
    position: relative;
    width:200%;
    .wrapper--line{
      position: absolute;
      pointer-events: none;
      user-select: none;
      top:0;
      width:100%;
      height:100%;
      
    }
    .carte__bg{
      position: relative;
      top:auto;
      height:auto;
      svg{
        position: relative;
      }
    }
  }
}

.parking__hoverInfo{
  position: absolute;
  top:0;
  z-index: 100;
  background-color: #fff;
  border-radius:10px;
  background-color: #fff;
  position: absolute;
  padding:5px 10px;
  .hoverInfo__decription{
    font-size: 0.9em;
    color: grey;
    margin-bottom: 2px;
  }
}

