svg{
  width:100%;
  height:auto;
  user-select:none;
  pointer-events: none;
  .linie{fill:none;stroke-width:6px;stroke-miterlimit:10;stroke:#1d1d1b}
  circle{fill:#fff;stroke:#1d1d1b;stroke-width:2px;transition:all 0.1s;pointer-events: auto !important;}
  
  .siteOlympique{
    position: relative;
    animation:siteAnimation 0.5s infinite alternate;
    @keyframes siteAnimation{
      0%{fill:#fff;;}
      100%{fill:black;}
    }
  }
  .hoverLine{
    stroke:#fff;
  }
  .selectedSite{
    fill:#fff;
  }
  circle:hover{
    background-color: blue;
  }
}

.map{
  // display: flex;
  // justify-content: center;
  // align-items: center;
  overflow: scroll;
  .box--carte{
    position: relative;
    width:200%;
    .wrapper--line{
      position: absolute;
      pointer-events: none;
      top:0;
      width:100%;
      height:100%;
    }
    .carte__bg{
      position: relative;
      top:auto;
      height:auto;
      svg{
        position: relative;
      }
    }
  }
}

