.wrapper--filter{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .logo{
    margin-bottom: 3vw;
  }
}

.box--filter{
  width:100%;
  margin-bottom: 20px;
  .filterBox__headline{
    margin-bottom: 5px;
  }
}

.css-2b097c-container{
  width: 100%;
}

.box__filterText{
  margin-bottom: 30px;
  &:empty{
    display: none;
  }
  .box__filterText__Box{
    margin-top: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    img{
      width:30px;
      display: block;
      height:30px;
      margin-right: 5px;
    }
    p{
      width: 90%;
      span{
        color:red;
      }
    }
  }
}