.wrapper--filter{
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo{
    margin-bottom: 3vw;
    &:hover{
      border: solid 10px pink;
    }
  }
}

.box--filter{
  width:100%;
  margin-bottom: 3vw;
  .filterBox__headline{
    margin-bottom: 1vw;
  }
}

.css-2b097c-container{
  width: 100%;
}