.nav{
  position: absolute;
  position: fixed;
  padding:5px 10px;
  height:50px;
  padding-right: 40px;
  padding-left: 20px;
  display: flex;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  border-bottom-left-radius: 20px;
  right:0;
  top:0;
  background-color: #fff;
  ul{
    display: flex;
  }
  .nav__link{
    margin-right: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    p{
      font-weight: bold;
      text-transform: uppercase;
      color: #5B5B5F;
    }
    .logo{
      width:30px;
      margin-right: 5px; 
    }
    &.nav__link--fav{
      position: relative;
      &:after{
        position: absolute;
        width:5px;
        height:5px;
        background-color: $green;
        border-radius: 50%;
        content: "";
      }
    }
    
  }
}