.nav{
  position: absolute;
  padding:5px 10px;
  height:50px;
  padding-right: 40px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom-left-radius: 20px;
  right:0;
  top:0;
  background-color: #fff;
  ul{
    display: flex;
  }
  .nav__link{
    margin-right: 10px;
  }
}