.filter__searchBar{
  width:100%;
  width: 100%;
  height: 40px;
  color: #000;
  border-radius: 10px;
  border: solid 1px grey;
  
}

.searchBar--pseudo{
  position: relative;
  &::before{
    position: absolute;
    content: "";
    display: block;
    border-radius: 50%;
    right:5px;
    top:8px;
    width:30px;
    height:30px;
    background-image: url(../img/lupe.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
  }
}

.wrapper--input{
  label{
    display: block;
  }
  input{
    width:50px;
    display: block;
  }
}

.button--toggel{
  width:150px;
  padding:5px;
  display: block;
  border-radius: 10px;
  &.button--toggel--active{
    background-color: $primary;
  }
}