.popup{
  border-radius:20px;
  background-color: #fff;
  position: absolute;
  padding:5px 10px;
  z-index: 4;
  align-items: center;
  border-radius: 10px;
  display: flex;
  
  &.popup--linie{
    top:2vw;
    left:42vw;
    .popup__text{
      font-size: 25px;
    }
  }
  &.popup--state{
    bottom:2vw;
    right:2vw;
    .icon--state{
      background-repeat: no-repeat;
      background-size:contain;
      background-position:center;
      background-image: url("../img/icon--stadion.png");
    }
  }
  .popup__icon{
    width:35px;
    height:35px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    
  }
}

.icon--rer{
  width:35px;
  height:35px;
  display: block;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  border:5px solid red;
  &.icon--rer--a{border-color: #FF1400;color: #FF1400;border-radius: 50%;}
  &.icon--rer--b{border-color: #3C91DC;color: #3C91DC;border-radius: 50%;}
  &.icon--rer--c{border-color: #FCDB4C;color: #FCDB4C;border-radius: 50%;}
  &.icon--rer--d{border-color: #35A748;color: #35A748;border-radius: 50%;}
  &.icon--rer--j{border-color: #C8D450;color: #C8D450;border-radius: 30%;}
  &.icon--rer--n{border-color: #04C1B3;color: #04C1B3;border-radius: 30%;}
  &.icon--rer--p{border-color: #F8B830;color: #F8B830;border-radius: 30%;}
}
.icon--sport{
  background-repeat: no-repeat;
  background-size:contain;
  background-position:center;
  &.icon--sport--athletik{background-image:url("../img/sport/aviron.svg")}
  &.icon--sport--aviron{background-image:url("../img/sport/aviron.svg")}
  &.icon--sport--badminton{background-image:url("../img/sport/badminton.svg")}
  &.icon--sport--basketballpierre{background-image:url("../img/sport/basketballpierre.svg")}
  &.icon--sport--basketballaccor{background-image:url("../img/sport/basketballpierre.svg")}
  &.icon--sport--beachvolley{background-image:url("../img/sport/beachvolley.svg")}
  &.icon--sport--bmx{background-image:url("../img/sport/bmx.svg")}
  &.icon--sport--box{background-image:url("../img/sport/bmx.svg")}
  &.icon--sport--canoe{background-image:url("../img/sport/canoe.svg")}
  &.icon--sport--cyclismpist{background-image:url("../img/sport/cyclismpist.svg")}
  &.icon--sport--cyclismroute{background-image:url("../img/sport/cyclismroute.svg")}
  &.icon--sport--equitation{background-image:url("../img/sport/equitation.svg")}
  &.icon--sport--escrime{background-image:url("../img/sport/escrime.svg")}
  &.icon--sport--foot{background-image:url("../img/sport/foot.svg")}
  &.icon--sport--golf{background-image:url("../img/sport/golf.svg")}
  &.icon--sport--handball{background-image:url("../img/sport/handball.svg")}
  &.icon--sport--hockey{background-image:url("../img/sport/hockey.svg")}
  &.icon--sport--judo{background-image:url("../img/sport/judo.svg")}
  &.icon--sport--lutte{background-image:url("../img/sport/judo.svg")}
  &.icon--sport--natationdenise{background-image:url("../img/sport/natationdenise.svg")}
  &.icon--sport--natationparis{background-image:url("../img/sport/natationdenise.svg")}
  &.icon--sport--natationsynchronisee{background-image:url("../img/sport/natationdenise.svg")}
  &.icon--sport--pentathlon{background-image:url("../img/sport/natationdenise.svg")}
  &.icon--sport--plonge{background-image:url("../img/sport/natationdenise.svg")}
  &.icon--sport--rugby{background-image:url("../img/sport/rugby.svg")}
  &.icon--sport--taekwondo{background-image:url("../img/sport/taekwondo.svg")}
  &.icon--sport--tennis{background-image:url("../img/sport/tennis.svg")}
  &.icon--sport--tennistable{background-image:url("../img/sport/tennis.svg")}
  &.icon--sport--vtt{background-image:url("../img/sport/vtt.svg")}
  &.icon--sport--volleyball{background-image:url("../img/sport/volleyball.svg")}
  &.icon--sport--waterpolo{background-image:url("../img/sport/volleyball.svg")}
}