.wrapper--home{
  .popup--connection{
    position: relative;
    width:100%;
    top:0;
    left:0;
    box-shadow: none;
    padding: 0px;
  }
}


.popup--connection{
  .popuo--connection__logo{
    width:70%;
  }
  position: absolute;
  width:400px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  top:70px;
  right:50px;
  box-shadow: -9px 7px 13px rgba(0, 0, 0, 0.15);
  //padding-top: 40px;

  .inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    label{
      margin-top: 5px;
      color:$darkgrey;
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 5px;
    }
    input{
      font-size: 20px;
      padding:5px;
      color:$darkgrey;
      border-radius: 5px;
      display: block;
    }
  }
  .button--valide{
    width:80%;
    margin-left: 10%;
  }
  p{
    font-size: 23px;
    line-height: 26px;
    font-weight: 300;
    margin-bottom: 20px;
    span{
      color:$primary;
    }
  }
}